.container {
  position: relative;
  background-color: #669999;
  margin: 0 auto;
  text-align: center;
}


h1, h2, h3 {
  text-align: center;
  background-color: #FFFFFF;
}
body {
  background-color: #669999;
}

footer {
  background-color: #FFFFFF;
  text-align: center;
}
